<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ini nama title</title>
</head>

<style>
    body {
        background: linear-gradient(to right, blue, yellow);
    }

    .background {
        background-color: green;
    }

    .table {
        border-radius: 40px;
        text-align: center;
        background-color: green;
    }

    .button {
        border-radius: 40px;
    }

    table {
        background-color: aqua;
        margin: auto;
        margin-top: 10%;
        font-size: 30px;
        border-radius: 25px;
    }
</style>

<body>
    <form action="">
        <table border="0">
            <tr>
                <td colspan="3" style="text-align: center;">Registrasi</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>:</td>
                <td><input type="password"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>:</td>
                <td>
                    <select name="" id="">
                        <option value="">Laki - laki</option>
                        <option value="">Perempuan</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;">
                    <button>Create</button>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>